*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: auto;
}

[class*="col"]{
    font-size: 18px;
    text-align: center;
    background-color: rgb(28, 198, 255);
    border: 1px solid white;
    color: white;
    padding: 15px 0px;
}